{{!< default}}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron lead">
            "Javascript is the English of computer languages.<br/>
            It's impossible to define a robust grammar,<br/>
            but it's so flexible and easy to say what you want to say"<br/>
        </div>
        <div class="intro">
            <p>BolognaJS é il gruppo di appassionati di Javascript di Bologna.
                Ci incontriamo ogni due settimane per parlare di Javascript e di tutto quello che gli ruota attorno:
                front-end, back-end, microcontrollori e qualsiasi cosa si possa programmare tramite JS.
            </p>
        </div>
    </div>
</div>

<h1 class="header">Ultimi Eventi</h1>

{{#foreach posts}}
    <div class="event">
        <h3>
            <a href="{{url}}">{{{title}}}</a><br/>
            <small>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
            </small>
        </h3>

        <div class="row">
            <div class="col-md-12">
                {{excerpt}}
            </div>
        </div>
    </div>
{{/foreach}}

<div class="row">
    <div class="col-md-12">
        {{!! After all the posts, we have the previous/next pagination links }}
        <div class="pull-right">
            {{pagination}}
        </div>
    </div>
</div>

<div class="row followus">
    <div class="col-lg-3">
        <h3>Seguici su: </h3>
    </div>
    <div class="col-lg-9">
        <ul class="list-inline">
            <li><a href="https://www.facebook.com/groups/1575546892711771/?fref=ts"><i class="fa fa-facebook-square fa-3x grow"></i></a></li>
            <li><a href="https://twitter.com/BolognaJS"><i class="fa fa-twitter-square fa-3x grow"></i></a></li>
            <li><a href="https://github.com/BolognaJS"><i class="fa fa-github-square fa-3x grow"></i></a></li>
            <li><a href="mailto:francesco.fiori@gmail.com"><i class="fa fa-envelope-square fa-3x grow"></i></a></li>
        </ul>
    </div>
</div>
